@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Josefin Sans; }

html {
  font-size: 62.5%; }

.header-principal .container-fluid .navbar .menu-principal .navbar-nav .nav-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 90%;
  background-repeat: no-repeat;
  background-size: 0% 0.5px;
  transition: background-size .3s; }

.header-principal .container-fluid .navbar .menu-principal .navbar-nav a:hover, .header-principal .container-fluid .navbar .menu-principal .navbar-nav a:focus {
  background-size: 100% 0.5px; }

.header-principal .container-fluid .navbar .navbar-brand img {
  width: 180; }

.header-principal .container-fluid .menu-principal a {
  position: relative; }

.header-principal .container-fluid .menu a:hover::before {
  transform: scaleX(1); }

.header-principal .container-fluid .menu-principal a::before {
  content: ’’;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out; }

.header-principal .container-fluid .menu-principal .navbar-nav .nav-link {
  color: black;
  font-family: Zen Kaku Gothic Antique;
  font-weight: 200;
  font-size: 20rem; }

.header-principal .container-fluid .menu-principal .navbar-nav .txt:hover {
  text-decoration: underline; }

.header-principal .container-fluid .menu-principal .navbar-nav .fas {
  font-size: 2rem;
  color: black; }

.header-principal .informacion {
  padding: 5px 0px;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  text-align: center;
  background-color: #BFBD9F; }

.header-principal .container-fluid .navbar .navbar-brand .logo-marca {
  margin-left: 30px; }

.portada {
  text-align: center;
  padding-top: 20px;
  font-family: Zen Kaku Gothic Antique; }
  .portada .titulo-portada {
    font-weight: 400;
    font-family: Zen Kaku Gothic Antique;
    font-size: 2.5rem;
    text-decoration: none;
    color: rgba(105, 122, 86, 0.705); }
  .portada .texto-portada {
    color: black;
    font-family: Zen Kaku Gothic Antique;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 20px; }

.contenidoPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Zen Kaku Gothic Antique, sans-serif; }
  .contenidoPrincipal h3 {
    font-family: Zen Kaku Gothic Antique, sans-serif;
    font-size: 2.4rem;
    font-style: 300; }
  .contenidoPrincipal .textoFibras {
    background-image: url(../img/textura-algodon.png);
    font-family: Zen Kaku Gothic Antique, sans-serif;
    background-position: center;
    background-size: cover;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #010500; }
  .contenidoPrincipal .textoEspacios {
    background-image: url(../img/espacio-inspiracion.png);
    font-family: Zen Kaku Gothic Antique, sans-serif;
    background-size: cover;
    background-position: center;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    color: black; }
  .contenidoPrincipal .textoPromociones {
    background-image: url(../img/lampara-bamboo.svg);
    font-family: Zen Kaku Gothic Antique, sans-serif;
    background-position: center;
    background-size: cover;
    padding: 20px;
    font-size: 1.6rem;
    color: black;
    font-weight: 300; }
    .contenidoPrincipal .textoPromociones a {
      font-family: Zen Kaku Gothic Antique, sans-serif;
      font-size: 2.4rem;
      font-weight: 400;
      text-decoration: none;
      color: black; }

.whats-app {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 15px;
  background-color: #6c927a;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.my-float {
  margin-top: 16px; }

.body-promo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "gift carousel carousel carousel" "plain plain plain plain" "section-promo section-promo section-promo section-promo" "pie pie pie pie";
  grid-row-gap: 10px;
  grid-row-gap: 6px;
  height: 100vh; }
  .body-promo .header-grid {
    grid-area: encabezado; }
  .body-promo .section-gift {
    grid-area: gift;
    background-color: #BFBD9F;
    font-size: 1.8rem;
    font-weight: 200;
    margin-right: 6px;
    padding: 6%; }
    .body-promo .section-gift h3 {
      font-size: 3rem; }
    .body-promo .section-gift h4 {
      font-size: 6rem;
      padding-bottom: 10px; }
    .body-promo .section-gift p {
      padding-top: 40px;
      padding-bottom: 40px; }
    .body-promo .section-gift .btn-gift {
      font-size: 2rem;
      border: black;
      color: #720f54;
      background-color: #F3F3EF;
      width: 10rem;
      height: 4rem;
      border-radius: 20px; }
  .body-promo .carousel-promo {
    grid-area: carousel; }
  .body-promo .descuentos-promo {
    grid-area: plain;
    background-color: #bb8e7d;
    margin: 10px 0px; }
    .body-promo .descuentos-promo h3 {
      font-size: 2.5rem;
      color: #F3F3EF;
      text-align: center;
      margin: 20px 0px;
      font-weight: 200; }

.container-fluid .container-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center; }
  .container-fluid .container-nosotros .imagen-arq {
    padding: 20px; }
  .container-fluid .container-nosotros .intro h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Zen Kaku Gothic Antique, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    padding: 40px 70px; }
  .container-fluid .container-nosotros .intro div {
    padding-left: 50px; }
  .container-fluid .container-nosotros .intro div {
    padding: 30px 30px; }
    .container-fluid .container-nosotros .intro div p {
      font-family: Zen Kaku Gothic Antique, sans-serif;
      text-align: justify;
      font-size: 1.8rem;
      font-weight: 200;
      padding-right: 20px; }

.bg-taupe {
  background-color: #f5f5f0;
  margin: 0; }

.btn-store {
  width: 200px;
  height: 30px;
  font-size: 1.5rem;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  color: #3D5859; }

.btn-ver {
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  color: #3D5859;
  cursor: pointer;
  transform: translateX(90px);
  align-self: flex-end;
  font-size: 1.5rem;
  font-family: Zen Kaku Gothic Antique, sans-serif; }

.textM {
  font-family: Zen Kaku Gothic Antique, sans-serif;
  font-size: 1.8rem;
  font-weight: 200; }

.titulo-tarjeta {
  padding: 10px;
  font-weight: 400;
  font-size: 1.8rem;
  font-family: Zen Kaku Gothic Antique, sans-serif;
  text-align: center;
  background-color: #f5f5f0; }

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.featurette div h2 {
  font-weight: 400;
  font-size: 2.5rem; }
  .featurette div h2 span {
    font-weight: 400;
    font-family: Zen Kaku Gothic Antique; }

.titulo-featurette {
  font-size: 2.4rem;
  font-family: Zen Kaku Gothic Antique, sans-serif;
  text-decoration: none; }

.descripcion-featurette {
  font-size: 1.8rem;
  text-decoration: none;
  text-shadow: none;
  text-align: justify;
  font-family: Zen Kaku Gothic Antique, sans-serif; }

.text-taupe {
  color: #bb8e7d;
  font-weight: 200;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: none; }

.main-404 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-bottom: 20px; }
  .main-404 .container-404 h3 {
    font-size: 10rem;
    color: #BFBD9F; }
  .main-404 .container-404 h4 {
    font-size: 2.7rem; }

.main-formulario {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-family: Zen Kaku Gothic Antique, sans-serif;
  font-weight: 300;
  font-size: 2rem; }
  .main-formulario .formulario-boostrap {
    display: flex;
    flex-direction: column;
    margin-left: 2rem; }
    .main-formulario .formulario-boostrap .titulo-contacto {
      font-family: Zen Kaku Gothic Antique, sans-serif;
      font-weight: 300;
      font-size: 2.4rem;
      font-weight: 400;
      color: #A49E8E;
      margin-bottom: 50px;
      margin-top: 30px; }
    .main-formulario .formulario-boostrap .formularioBoostrap {
      font-family: Zen Kaku Gothic Antique, sans-serif;
      font-weight: 300;
      font-size: 2rem; }
      .main-formulario .formulario-boostrap .formularioBoostrap .div .form-group {
        font-family: Zen Kaku Gothic Antique, sans-serif; }
  .main-formulario .google-maps {
    flex-direction: flex-end;
    padding-left: 1px; }
    .main-formulario .google-maps .titulo-mapa {
      font-family: Zen Kaku Gothic Antique, sans-serif;
      font-weight: 300;
      font-size: 2.4rem;
      font-weight: 400;
      color: #A49E8E; }
  .main-formulario .sobre {
    margin-left: 50px;
    margin-right: 50px; }

.section-promo {
  grid-area: section-promo;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .section-promo .card-promo {
    margin: 4px 10px; }
  .section-promo .card-body {
    justify-content: center; }
    .section-promo .card-body .card-title {
      font-size: 1.6rem; }
    .section-promo .card-body .card-text {
      font-size: 1.4rem;
      font-weight: 200;
      text-align: center; }
    .section-promo .card-body .btn-comprar {
      padding-bottom: 2.3rem;
      font-size: 1.4rem;
      border: black;
      color: #720f54;
      background-color: #F3F3EF;
      width: 10rem;
      height: 2rem;
      border-radius: 20px; }
  .section-promo .card .text-crossout {
    text-decoration: line-through; }

.seccion-proyectos .accordion .boton-prueba {
  font-size: 1.8rem; }

.cards-store {
  padding-bottom: 20px; }
  .cards-store .card-store .titulo-tarjeta {
    font-size: 2rem;
    color: #0a0101; }

.seccion-proyectos {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  padding: 5rem;
  font-weight: 300;
  font-family: Zen Kaku Gothic Antique, sans-serif;
  font-size: 1.7rem;
  height: 70%; }
  .seccion-proyectos .container-linea h3 {
    font-size: 3rem; }

.zocalo {
  background-color: #A49E8E;
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  padding-left: 20px; }
  .zocalo .zocalo-data .fas {
    font-size: 1.5rem; }
  .zocalo .zocalo-data h4 {
    color: #FAF7FB;
    font-family: Josefin Sans, sans-serif;
    font-weight: 200;
    padding-right: 30px;
    font-size: 1.8rem; }
  .zocalo .zocaloRedes a {
    padding-right: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fdfcfc; }

.zocalo {
  grid-area: pie; }

@media screen and (max-width: 1024px) {
  .body-promo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "encabezado encabezado" "gift gift" "carousel carousel" "plain plain" "section-promo section-promo" "section-promo section-promo" "pie pie";
    grid-row-gap: 10px;
    grid-row-gap: 6px; }
  .section-gift {
    margin: 0px; }
  .section-promo {
    flex-wrap: wrap; }
  .card-promo {
    margin: 10px 4px; }
  .descuentos-promo {
    background-color: #3D5859; }
  .descuentos-promo h3 {
    color: white;
    font-size: 2rem; } }

@media screen and (max-width: 600px) {
  .body-promo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "encabezado encabezado" "gift gift" "carousel carousel" "plain plain" "section-promo section-promo" "section-promo section-promo" "pie pie";
    grid-row-gap: 10px;
    grid-row-gap: 6px; }
  .informacion {
    font-size: 1.5rem; }
  .section-gift {
    margin: 0px; }
  .section-promo {
    flex-wrap: wrap; }
  .card-promo {
    margin: 10px 4px; }
  .descuentos-promo {
    background-color: #3D5859; }
  .descuentos-promo h3 {
    color: white;
    font-size: 2rem; } }

@media screen and (max-width: 320px) {
  .body-promo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "encabezado encabezado" "gift gift" "carousel carousel" "plain plain" "section-promo section-promo" "section-promo section-promo" "pie pie";
    grid-row-gap: 10px;
    grid-row-gap: 6px; }
  .informacion {
    font-size: 1.5rem; }
  .section-gift {
    margin: 0px; }
  .section-gift h3 {
    font-size: 2rem; }
  .section-gift h4 {
    font-size: 3rem; }
  .section-gift p {
    font-size: 1.2rem; }
  .section-promo {
    flex-wrap: wrap; }
  .card-promo {
    margin: 10px 4px; }
  .descuentos-promo {
    background-color: #3D5859; }
  .descuentos-promo h3 {
    color: white;
    font-size: 1.4rem;
    margin: 10px; }
  .zocalo {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "datos" "redes"; }
  .zocalo {
    background-color: #A49E8E; }
  .zocalo h4 {
    grid-area: datos;
    text-align: center;
    padding-top: 10px; }
  .zocalo .zocaloRedes {
    grid-area: redes; }
  .zocalo h4 {
    font-size: 1.4rem; } }
