@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap');


//* fonts
$mainFont: Josefin Sans, sans-serif;
$secondaryFont: Zen Kaku Gothic Antique, sans-serif;

//* font weight
$lightFont:200;
$mediumFont:300;
$boldFont:400;
$extraBoldFont:500;

//font size
$textXs:1.6rem;
$textS:1.8rem;
$textM:2rem;
$textL:2.4rem;
$textXxl:2.7rem;
$textLargest:3rem,


